.data-table_wrapper tbody {
  border-bottom: 1px solid #111;
  td {
    padding: 8px 10px;
  }
  tr:not(:first-child) {
    td {
      border-top: 1px solid #ddd;
    }
  }
  tr.odd {
    background-color: #f9f9f9;
    &:hover {
      background-color: #f6f6f6;
      td.sorting_1 {
        background-color: #eaeaea;
      }
    }
    td.sorting_1 {
      background-color: #f1f1f1;
    }
  }
  tr.even {
    background-color: #ffffff;
    &:hover {
      background-color: #f6f6f6;
      td.sorting_1 {
        background-color: #eaeaea;
      }
    }
    td.sorting_1 {
      background-color: #fafafa;
    }
  }
}
